In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
c_df = pd.read_csv(r"C:\Data hub\Projects\cleaned_titanic.csv")

In [44]:
c_df.head()

   Survived  Pclass  Sex   Age     Fare  family_cnt  Cabin_ind
0         0       3    1  22.0   7.2500           1          0
1         1       1    0  38.0  71.2833           1          1
2         1       3    0  26.0   7.9250           0          0
3         1       1    0  35.0  53.1000           1          1
4         0       3    1  35.0   8.0500           0          0

In [45]:
X=c_df.drop("Survived", axis=1)
y=c_df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.4)

In [46]:
X_val, X_test, y_val, y_test = train_test_split(X_test,
                                                   y_test,
                                                   test_size=0.5)

In [47]:
for i in [y_train, y_val, y_test]:
    print(round(len(i)/len(y),2))

0.6
0.2
0.2

In [48]:
#Write the data into excel
X_train.to_csv("C:\Data hub\Projects\X_train.csv",index=False)
X_test.to_csv("C:\Data hub\Projects\X_test.csv",index=False)
X_val.to_csv("C:\Data hub\Projects\X_val.csv",index=False)

y_train.to_csv("C:\Data hub\Projects\y_train.csv",index=False)
y_test.to_csv("C:\Data hub\Projects\y_test.csv",index=False)
y_val.to_csv("C:\Data hub\Projects\y_val.csv",index=False)

In [49]:
from sklearn.linear_model import LogisticRegression
LogisticRegression()

LogisticRegression()